In [1]:
import pandas as pd
from sklearn.datasets import load_diabetes

obj = load_diabetes()

df = pd.DataFrame(obj.data,columns = obj.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

## Feature Selection :

In [108]:
df1 = df.drop('bmi',axis = 1)
df1

,age,sex,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.081413,0.083740,0.027809,0.125954,-0.039493,-0.004222,0.003064

In [106]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [109]:
vif_list = []

for i in range(df1.shape[1]):
    vif = variance_inflation_factor(df1,i)
    vif_list.append(vif)
    
vif_list

[1.2192529328415307,
 1.2533625481692838,
 1.376198611791687,
 54.23890039818488,
 33.914274012201965,
 16.251101090735137,
 10.06599435322296,
 9.131408977701707,
 1.4471252400313386]